<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>sublime_merge</string>
    <key>CFBundleIconFile</key>
    <string>Sublime Merge</string>
    <key>CFBundleIdentifier</key>
    <string>com.sublimemerge</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>smerge</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.7</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2018-2019 Sublime HQ Pty Ltd</string>
    <key>CFBundleName</key>
    <string>Sublime Merge</string>

    <key>CFBundleVersion</key>
    <string>1119</string>
    <key>CFBundleShortVersionString</key>
    <string>Build 1119</string>

    <key>NSPrincipalClass</key>
    <string>PXApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>

    <key>NSRequiresAquaSystemAppearance</key>
    <false/>

    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Folder</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>fold</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
